################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QBA.Qutilize/.vs/QBA.Qutilize/v15/Server/sqlite3/db.lock
*.suo
*.user
_ReSharper.*
bin
obj
packages
Debug
/QBA.Qutilize/.vs/QBA.Qutilize/v15/Server/sqlite3/

QBA.Qutilize/.vs/QBA.Qutilize/v15/Server/sqlite3/storage.ide-wal
QBA.Qutilize/.vs/QBA.Qutilize/v15/Server/sqlite3/storage.ide-wal
QBA.Qutilize/.vs/QBA.Qutilize/v15/Server/sqlite3/storage.ide-wal
*.ide-wal
QBA.Qutilize/.vs/QBA.Qutilize/v15/.suo
