
@{
    ViewBag.Title = "RoleModuleMapping";
    Layout = "~/Views/Shared/_ViewStartPrivate.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Role Module Mapping</title>
</head>
<body>
    <div class="col-md-12"><br /></div>

    <div class="form-horizontal col-md-12">
        <div class="alert alert-danger alert-dismissable fade in" id="ErrorMsg" name="ErrorMsg" style="display:none">
            <span id="errormsg"></span>
        </div>
    </div>
    <h4>Role Module Mapping</h4>
    <hr />

    <div class="form-horizontal col-md-12" style="border: 1px solid #f1f1f1; padding:15px">
        <table class="table table-striped table-bordered myTable" id="tblGridListViewPost">
            <thead id="tblHeadListViewPost">
                <tr>
                    <th class="text-center tblHeaderColor">ID</th>
                    <th class="text-center tblHeaderColor">Role Name</th>
                    <th class="text-center tblHeaderColor">Map Modules</th>
                    @*<th class="text-center">IsApprover</th>*@
                </tr>
            </thead>
            <tbody>
                @Html.Action("LoadALLRoleToBeMappedWithModule", "Admin")
            </tbody>
        </table>
    </div>
    <div class="col-md-12"><br /></div>

    <div id="myModalForModule" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:#626262;">Select Modules</h4>
                </div>

                <div class="modal-body">
                    <input type="hidden" value="" name="RoleID" id="RoleID" />
                    @Html.Action("LoadAllSysModules", "Admin")
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" onclick="SelectCheckBox()" value="Submit">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>

    <script type="text/javascript">
        $("#tblGridListViewPost").dataTable();
        function ShowPermission(id) {
           
            var id = id;
           
            $('input[name="RoleID"]').val(id)

            
            $("input[type='checkbox']").prop('checked', false)

             $.ajax({
            url: '@Url.Action("GetModuleMappedToRole", "Admin")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            // data: { id:id },
            data: JSON.stringify({
                "id":id
            }),

            success: function (response) {
                console.log(response);
                $.each(response, function (key, value) {
                    $("input[value='" + value.SysModuleId + "']").prop('checked', true);

                });

            },
            error: function (response) {
                console.log(response);
            }
        });
        }

         function SelectCheckBox() {

            var Itemlist = [];
            var moduleid = [];
            var moduleids = [];

             var RoleID = document.getElementById("RoleID").value;
            var lastpushedModuleid = 0;

            $("ul.module > li.limodule  input:checkbox:checked").each(function () {
                // alert($(this).attr("name"))
                if ($(this).attr("name") == "modules") {
                    moduleid = $(this).val();
                }

                moduleids.push(moduleid);

            })
            var length = moduleids.length
           // alert(length);

            for (var i = 0; i < moduleids.length; i++) {
                if (lastpushedModuleid != moduleids[i]) {
                    Item = { RoleID: RoleID, SYSModuleId: moduleids[i] }
                    Itemlist.push(Item);
                }
            }


            lastpushedModuleid = moduleids[i];

           // alert(Itemlist.length);

             $.ajax({
            url: '@Url.Action("SaveModuleMapping", "Admin")',
            dataType: "json",
            data: JSON.stringify({ itemlist: Itemlist }),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result == true) {

                    alert("Successfully Saved the Data");
                    $('#myModalForModule').modal('toggle');
                } else {
                    alert("error");
                 }
            },
            error: function (xhr) {
                console.log();
            }
        });
        }
    </script>
</body>
</html>
