@model QBA.Qutilize.WebApp.Models.UserRoleMappingModel
@{
    ViewBag.Title = "UserRoleMapping";
    Layout = "~/Views/Shared/_ViewStartPrivate.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>User Role Mapping</title>
</head>
<body>
    <div class="col-md-12"><br /></div>

    <div class="form-horizontal col-md-12">
        <div class="alert alert-danger alert-dismissable fade in" id="ErrorMsg" name="ErrorMsg" style="display:none">
            <span id="errormsg"></span>
        </div>
    </div>
    <h4>User Role Mapping</h4>
    <hr />

    <div class="form-horizontal col-md-12" style="border: 1px solid #f1f1f1; padding:15px">
        <table class="table table-striped table-bordered myTable" id="tblGridListViewPost">
            <thead id="tblHeadListViewPost">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Map Roles</th>
                    @*<th class="text-center">IsApprover</th>*@
                </tr>
            </thead>
            <tbody>
                @Html.Action("LoadALLUserRoleToMapped", "Admin")
            </tbody>
        </table>
    </div>

    <div class="col-md-12"><br /></div>

    <div id="myModalForModule" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:#626262;">Select Roles</h4>
                </div>

                <div class="modal-body">
                    <input type="hidden" value="" name="UserID" id="UserID" />
                    @Html.Action("LoadAllRoles", "Admin")
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" onclick="showArraylist()" value="SUbmit">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>


    <script type="text/javascript">
        function ShowPermission(id) {
           
            var id = id;
           
            $('input[name="UserID"]').val(id)
            $("input[type='checkbox']").prop('checked', false)
           
             $.ajax({
            url: '@Url.Action("GetRolesMappedToUser", "Admin")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            // data: { id:id },
            data: JSON.stringify({
                "id":id
            }),

            success: function (response) {
                console.log(response);
                $.each(response, function (key, value) {
                    //$("input[name='" + value.ProjectId + "']").prop('checked', true);
                    $("input[value='" + value.RoleId + "']").prop('checked', true);

                });

            },
            error: function (response) {
                console.log(response);
            }
        });
        }
        //$('#myModalForModule').on('show.bs.modal', function (e) {
        //    var anim = "slideInRight";
        //    testAnim(anim);
        //})
        //$('#myModalForModule').on('hide.bs.modal', function (e) {
        //    var anim = "slideOutRight";
        //    testAnim(anim);
        //})

        function showArraylist() {

            var Itemlist = [];
            var moduleid = [];
            var moduleids = [];

            var UserID = document.getElementById("UserID").value;
            var lastpushedModuleid = 0;

            $("ul.module > li.limodule  input:checkbox:checked").each(function () {
                // alert($(this).attr("name"))
                if ($(this).attr("name") == "modules") {
                    moduleid = $(this).val();
                    alert($(this).val());
                }

                moduleids.push(moduleid);
              
            })
            var length = moduleids.length
           // alert(length);

            for (var i = 0; i < moduleids.length; i++) {
                if (lastpushedModuleid != moduleids[i]) {
                    Item = { userID: UserID, RoleId: moduleids[i] }
                    Itemlist.push(Item);
                }
            }


            lastpushedModuleid = moduleids[i];

           // alert(Itemlist.length);

             $.ajax({
            url: '@Url.Action("SaveRoleMapping", "Admin")',
            dataType: "json",
            data: JSON.stringify({ itemlist: Itemlist }),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result == true) {

                    alert("Successfully Saved the Data");
                    $('#myModalForModule').modal('toggle');
                } else {
                    alert("error");
                 }
            },
            error: function (xhr) {
                console.log();
            }
        });
        }
    </script>
</body>
</html>
