
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ViewStartPrivate.cshtml";
}

<div class="row">
    <div class="col-md-12" id="dashBoardDateRange">
        @Html.Action("GetDateRange", "Report")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive" id="reportSection">
            
        </div>
    </div>
</div>



<script>

    $(function () {
        $("#txtStartDate").datepicker({
            minDate: '-365',
             dateFormat: "dd-mm-yy"
        });
    });
    $(function () {
        $("#txtEndDate").datepicker({
            minDate: '-365',
             dateFormat: "dd-mm-yy"
        });
    });

    function ValidateEndDate() {
        
        var startDate = $('#txtStartDate').val();

        var endDate = $('#txtEndDate').val();
        if (startDate != '' && endDate != '') {

            if (Date.parse(startDate) > Date.parse(endDate)) {
                $('#txtEndDate').val('');
                alert("Start date should not be greater than end date");
                return false;
            }
        }

    };
    function SetReport() {
        var vReportType = $('#ddlReportType').val();
       
        if (vReportType == 1) {
            $('#ddlUsers').show();
            $('#lbluser').show();
            $('#ddlProjects').show();
            $('#lblproject').show(); 
            $('#txtStartDate').show();
            $('#txtEndDate').show(); 
            $('#lblStartDate').show();
            $('#lblEndDate').show();
            $("select#ddlProjects")[0].selectedIndex = 0;
            $("select#ddlUsers")[0].selectedIndex = 0;
            document.getElementById('reportSection').innerHTML = "";
        }
        if (vReportType == 2 || vReportType==5) {
            $('#ddlUsers').hide();
            $('#lbluser').hide();
            $('#ddlProjects').show();
            $('#lblproject').show();
            $('#txtStartDate').show();
            $('#txtEndDate').show();
            $('#lblStartDate').show();
            $('#lblEndDate').show();
            $("select#ddlProjects")[0].selectedIndex = 0;
           
            document.getElementById('reportSection').innerHTML = "";
        }
     
        if (vReportType == 4 || vReportType==3) {
            $('#ddlUsers').hide();
            $('#lbluser').hide();
            $('#lblproject').hide();
            $('#ddlProjects').hide();
            $('#txtStartDate').show();
            $('#txtEndDate').show();
            $('#lblStartDate').show();
            $('#lblEndDate').show();
           document.getElementById('reportSection').innerHTML = "";
           
        }
        
        if (vReportType == 8 || vReportType == 9 ) {
            $('#ddlProjects').hide();
            $('#lblproject').hide();
            $('#ddlUsers').hide();
            $('#lbluser').hide();
            $('#txtStartDate').hide();
            $('#txtEndDate').hide();
            $('#lblStartDate').hide();
            $('#lblEndDate').hide();
            document.getElementById('reportSection').innerHTML = "";
          
        }
       
    }
    function RefreshData() {
    try {
    var vStartDate = $('#txtStartDate').val();
        var vEndDate = $('#txtEndDate').val();
        var vUserID = $('#ddlUsers').val();
        var vProjectID = $('#ddlProjects').val();
        var vReportType = $('#ddlReportType').val();
        var vReportTypeName = $('#ddlReportType option:selected').text();
        

        if (vReportType == "0") {
            alert("Select Report type");
            $('#ddlReportType').focus();
            return false;
        }
        if (vReportType == "1") {
            if (vProjectID == "0") {
                alert("Select Project ");
                $('#ddlProjects').focus();
                return false;

            }
            if (vUserID == "0") {
                alert("Select User ");
                $('#ddlUsers').focus();
                return false;

            }
        }
      
        if (vReportType == "2" || vReportType == "5") {
            $("select#ddlUsers")[0].selectedIndex = 0;
            if (vProjectID == "0") {
                alert("Select Project ");
                $('#ddlProjects').focus();
                return false;

            }
        }
        if (vReportType == "3" || vReportType == "4" ) {
            $("select#ddlProjects")[0].selectedIndex = 0;
            $("select#ddlUsers")[0].selectedIndex = 0;
        }
       

        if (vStartDate != "" && vEndDate != "") {
            $.ajax({
                url: '@Url.Action("GetReportData", "Report")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    startdate: vStartDate, endDate: vEndDate, userid: vUserID, projectID: vProjectID, ReportType: vReportType
                }),
                success: function (response) {

                    if (response != "") {

                        $('#reportSection').html('');
                        $('#reportSection').html(response);

                        $('#tableReportData').dataTable({
                            // ... skipped ...
                            "aaSorting": [],
                            dom: 'Bfrtip',
                            buttons: [
                                {
                                    text: 'Download Report',
                                    extend: 'csvHtml5',
                                    title: vReportTypeName,
                                    exportOptions: {
                                        columns: 'th:not(.noExport)'
                                    }
                                },
                                {
                                    extend: 'pdfHtml5',
                                    title: 'Data export'
                                }
                            ],

                            "columnDefs": [{
                                "targets": 'no-sort',
                                "orderable": false,
                            }]
                        });

                    }
                }
            });
        } else {
            
            if (vStartDate == "") {
                alert("Please Provide Start Date.");
                return false;
            }
            if (vEndDate == "") {
                alert("Please Provide End Date.");
                return false;
            }
            
        }
    }
    catch (e) {
    alert(e);
    }
    }
</script>