<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="QutilizeDBCon" connectionString="data source=sql5016.site4now.net;initial catalog=DB_A05603_qUtilize;integrated security=False;User ID=DB_A05603_qUtilize_admin;Password=qba@123#@!;" providerName="System.Data.SqlClient" />-->
    <add name="QBADBConnetion" connectionString="Server=sql5016.site4now.net;initial catalog= DB_A05603_qUtilize; User ID= DB_A05603_qUtilize_admin;Password=qba@123#@!; Connection Timeout=60" providerName="System.Data.SqlClient" />


  </connectionStrings>
  <appSettings>
   
    <!--<add key="WebApibaseAddress" value="http://localhost:59643/"/>-->
    <add key="defaultProjectID" value="155"/>
    <add key="WebApibaseAddress" value="http://probaldg-001-site19.htempurl.com/"/>
    <add key="WebSiteBaseAddress" value="http://timetracker.qbadvisory.us/Home/DashBoard?U="/>
  </appSettings>
</configuration>